@font-face {
    font-family: Computer Modern;
    font-weight: 400;
    font-style: normal;
    src: url("../../static/fonts/cmunrm.ttf") format("truetype");
  }
  
@font-face {
  font-family: Megalith-Regular;
  font-weight: 400;
  font-style: normal;
  src: url("../../static/fonts/Megalith-Regular.ttf") format("truetype");
}
  
html {
  font-family: Computer Modern, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 100%;
}

body {
  margin: 0;
  margin-top: 1rem;
  display: flex;
  background: #dbc7cb;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-color: #dbc7cb;

  --striped-hover: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 4px,
    white 4px,
    white 5px
  );
  --striped-hover-opposite: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 4px,
    white 4px,
    white 5px
  );
  --striped-disabled: repeating-linear-gradient(
    -45deg,
    #dbc7cb,
    #dbc7cb 5px,
    grey 5px,
    grey 6px
  );
}
  
* {
    box-sizing: inherit;
  }
  *:before {
    box-sizing: inherit;
  }
  *:after {
    box-sizing: inherit;
  }
  
  ::selection {
     background: white; 
  }

  ::-moz-selection {
    background: white;
  }

/*  Toast: */

/* .Toastify__toast--default {
} */

.Toastify__toast-body {
  color: black;
  font-family: Megalith-Regular;
  font-size: 2rem;
  text-align: center;
}





  /* @media only screen and (min-width: 400) {
    main {
      width: 800px;
      border: 1px solid blue;
    }
  } */
  